# Dependency directories
client/bower_components
node_modules
.DS_Store
server/config/auth.js
npm-git debug.log
server/npm-debug.log
client/test/npm-debug.log
client/config/s3creds.js
server/npm-debug.log

