<div class='coming-soon'>
<h1>Coming Soon</h1>
</div> 

<div id="sideBar">
  <ul id="slide-out" class="side-nav fixed">
  <div id="blahh">
    <img id="sideBarPic" ng-src={{userphoto}}>
    <text id="sideBarName"><b>{{username}}</b></text>
  </div>
  <div id="line"></div>
    <li><a href="#!">My profile</a></li>		
    <li><a href="/#/overflow">Hack Overflow</a></li>
     <li><a href="/#/general">General</a></li>
    <li><a href='/#/resources'>Resources</a></li>
    <li><a href="/#/events">Events</a></li>
    <li><a href="/#/jobs">Jobs</a></li>
    <li><a href="/#/lectures">Lectures</a></li>
    <li><a href="/#/search">Search</a></li>
    <li><a href="#/">Logout</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
</div>
