<div id='background'>
<div class="container">
	<div class="row">
		<div class="col s3">
			<ul id="slide-out" class="side-nav fixed">
			<div id="blahh">
				<img id="sideBarPic" ng-src={{userphoto}}>
				<text id="sideBarName"><b>{{username}}</b></text>
			</div>
				<div id="line"></div>
				<li><a href="/#/profile">My profile</a></li>		
	      <li><a href="/#/overflow">Hack Overflow</a></li>
	      <li><a href='/#/resources'>Resources</a></li>
	      <li><a href="/#/events">Events</a></li>
	      <li><a href="/#/jobs">Jobs</a></li>
        <li><a href="/#/lectures">Lectures</a></li>
        <li><a href="/#/search">Search</a></li>
	      <li><a href="#/">Logout</a></li>
	    </ul>
	    <a href="#" data-activates="slide-out" class="button-collapse"></a>
		</div>

		<div class="col s9">
			<h1>General</h1>
	  	<div class='posttimeline'>
		    <form ng-submit='postMsg()' id='submit'>
		    <textarea placeholder="What's on your mind?" ng-model='msg' id='textarea'></textarea>
		    <input type='submit' id= 'buttonpost' value='post'/></input>
		    </form>
		    <div id='uploader'>
		      <div>
		          <img class='prevpic' ngf-thumbnail='picFile' ng-if='!loading'>
		          <img ng-src= './img/loading.gif' ng-show='loading'> 
		      </div>
		      <div id='campost'>
		      <a ngf-select ng-model='picFile'><i class='fa fa-camera fa-2x' id='camera'></i></a>
		      </div>
		      <span class='progress' ng-show='progress >= 0'>
		        <div style='width:{{progress}}%' ng-bind="progress + '%'">{{progress}}</div>
		      </span>
		      <span ng-show='result'>Upload Successful</span>
		      <span class='err' ng-show='errorMsg'>{{errorMsg}}</span>
		     </div>
	    </div>

		  <div class='msgtimeline' ng-if='data.msgs'>
		    <div ng-repeat='message in data.msgs track by $index'>
		      <div class='card'>
		        <div class='topwrap'>
		          <div class='image'>
		            <img class='resize' ng-src={{message.photolink}}>   
		          </div>
		          <div class='namedate'>
		            <p class='name'>{{message.firstName}} {{message.lastName}}</p>
		            <p class='bdbdbd grey-text text-lighten-1' id='datetime'><span title="{{message.created_at | amDateFormat: 'MMMM Do YYYY, h:mm a' }}">{{message.created_at | amCalendar:referenceTime:formats}}</span></p>
		          </div>
		        </div>
		        <div class='postedmsgs'>
		          <p>{{message.content}}</p>
		        </div>
		        <div class='msgImg' ng-show='message.msgImageUrl'>
		          <img class='showImg' ng-src={{message.msgImageUrl}}>
		        </div>
		        <div class='msglikes'> 
		          <span ng-init='status=false'  ng-click='status =!status; addLike(status,message.id, message.likes)'> 
		            <span id= {{message.id}}><i class='fa fa-thumbs-up'></i> Like 
		            </span> 
		          </span>
		           {{message.likes}}
		        </div>
		      
		      <div class='commentwrap' >
		        <div class='comment-item'>
		          <form ng-submit='postCmt(message.id)' id='submitCmt'>
		            <textarea placeholder='Write a comment' ng-model='data.cmt[$index]' id='textarea2'></textarea>
		            <div class='postpad' ng-if='data.cmt != null'>
		              <input type='submit' id= 'buttonpost2' value='post'/></input>
		            </div>
		          </form>
		        </div>
		        <div class='cmttimeline'>
		          <div id='cmtcard'>
		          <div ng-repeat='comment in data.cmts |limitTo'>
		          <span ng-if='message.id === comment.msgId '>
		            
		              <div class='topcmtwrap'>
		                <div class='cmtimage'>
		                  <img class='resize' ng-src={{comment.photolink}}> 
		                  <div class ='namecontent'>
		                   <p class='cmtname'>{{comment.firstName}} {{comment.lastName}}</p>
		                    <p class='cmtcont'> {{comment.content}}</p>
		                    <p class='bdbdbd grey-text text-lighten-1' id='datetime'><span title="{{comment.created_at | amDateFormat: 'MMMM Do YYYY, h:mm a' }}">{{comment.created_at | amCalendar:referenceTime:formats}}</span></p>
		                  </div>
		                </div>
		            </div>
		              <div class='cmtlikes'> 
		              <span ng-init='status=false' ng-click='status =!status; addCmtLike(status, comment.id, comment.likes)'>
		                <span id= {{comment.id}}><i class='fa fa-thumbs-up'></i> Like </span> 
		                </span>
		                {{comment.likes}}
		              </div>
		              </div>
		          </span>
		          </div>
		        </div>
		      </div>
		    </div>
		    </div>
		  </div>		   
  	</div>	
	</div>
  </div>
</div>

